<div class="daterangepicker" data-bind="css: $data.cssClasses(), style: $data.style()">
  <div class="controls">
    <ul class="periods">
      <!-- ko foreach: $data.periods -->
      <li class="period" data-bind="css: {active: $parent.isActivePeriod($data) && !$parent.isCustomPeriodRangeActive()}, text: $parent.periodProxy.title($data), click: function(){ $parent.setPeriod($data); }"></li>
      <!-- /ko -->
      <!-- ko foreach: $data.customPeriodRanges -->
      <li class="period" data-bind="css: {active: $parent.isActiveCustomPeriodRange($data)}, text: $data.title, click: function(){ $parent.setCustomPeriodRange($data); }"></li>
      <!-- /ko -->
    </ul>
    <ul class="ranges" data-bind="foreach: $data.ranges">
      <li class="range" data-bind="css: {active: $parent.isActiveDateRange($data)}, text: $data.title, click: function(){ $parent.setDateRange($data); }"></li>
    </ul>
    <form data-bind="submit: $data.applyChanges">
      <div class="custom-range-inputs">
        <input type="text" data-bind="value: $data.startDateInput, event: {focus: $data.inputFocus}" />
        <input type="text" data-bind="value: $data.endDateInput, event: {focus: $data.inputFocus}" />
      </div>
      <div class="custom-range-buttons">
        <button class="apply-btn" type="submit" data-bind="text: $data.locale.applyButtonTitle, click: $data.applyChanges"></button>
        <button class="cancel-btn" data-bind="text: $data.locale.cancelButtonTitle, click: $data.cancelChanges"></button>
      </div>
    </form>
  </div>

  <!-- ko foreach: $data.calendars() -->
    <div class="calendar">
      <div class="calendar-title" data-bind="text: $data.label"></div>
      <div class="calendar-header" data-bind="with: $data.headerView">
        <div class="arrow" data-bind="css: $data.prevArrowCss()">
          <button data-bind="click: $data.clickPrevButton"><span class="arrow-left"></span></button>
        </div>
        <div class="calendar-selects">
          <select class="month-select" data-bind="options: $data.monthOptions(), optionsText: $data.monthFormatter, valueAllowUnset: true, value: $data.selectedMonth, css: {hidden: !$data.monthSelectorAvailable()}"></select>
          <select class="year-select" data-bind="options: $data.yearOptions(), optionsText: $data.yearFormatter, valueAllowUnset: true, value: $data.selectedYear, css: {hidden: !$data.yearSelectorAvailable()}"></select>
          <select class="decade-select" data-bind="options: $data.decadeOptions(), optionsText: $data.decadeFormatter, valueAllowUnset: true, value: $data.selectedDecade, css: {hidden: !$data.decadeSelectorAvailable()}"></select>
        </div>
        <div class="arrow" data-bind="css: $data.nextArrowCss()">
          <button data-bind="click: $data.clickNextButton"><span class="arrow-right"></span></button>
        </div>
      </div>
      <div class="calendar-table">
        <!-- ko if: $parent.periodProxy.showWeekDayNames($data.period()) -->
          <div class="table-row weekdays" data-bind="foreach: $data.weekDayNames()">
            <div class="table-col">
              <div class="table-value-wrapper">
                <div class="table-value" data-bind="text: $data"></div>
              </div>
            </div>
          </div>
        <!-- /ko -->
        <!-- ko foreach: $data.calendar() -->
          <div class="table-row" data-bind="foreach: $data">
            <div class="table-col" data-bind="event: $parents[1].eventsForDate($data), css: $parents[1].cssForDate($data)">
              <div class="table-value-wrapper" data-bind="foreach: $parents[1].tableValues($data)">
                <div class="table-value" data-bind="html: $data.html, css: $data.css"></div>
              </div>
            </div>
          </div>
        <!-- /ko -->
      </div>
    </div>
  <!-- /ko -->
</div>
