<header>
  <div class="container">
    <div class="logo">
      daterangepicker
    </div>
    <nav>
      <ul>
        <li@@if (name === 'index') { class="active"}><a href="./">Home</a></li>
        <li@@if (name === 'docs') { class="active"}><a href="./docs">Docs</a></li>
        <li@@if (name === 'tests') { class="active"}><a href="./tests">Tests</a></li>
        <li@@if (name === 'examples') { class="active"}><a href="./examples">Examples</a></li>
        <li><a href="https://github.com/sensortower/daterangepicker">Fork on Github</a></li>
      </ul>
    </nav>
  </div>
</header>
